body{
    background-color:rgb(244, 229, 231)
}
h1{ color: light rgb(16, 16, 16);
    ;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
}
.atin-pic{
    height: fit-content;
    width:fit-content;
    border: 5px solid whitesmoke ;
    margin-left: auto;
}

p{
    text-align: center;
    font-size: large;
    font-family: Caprasimo;
    color: light rgb(16, 16, 16);

    
}